{% extends "index_task2_base.html" %}


{% block title %}
<h1>Clothes</h1>
{% endblock %}

{% block content %}
<table>
    <th>Dresses</th>
    <th>Skirts</th>
    <th>T-shirts</th>
    <th>Trousers</th>
    <th>Underwear</th>
    <th>Hoodies & sweatshots</th>
    <tr>
        <td>A lot of dresses</td>
        <td>A lot of skirts</td>
        <td>A lot of t-shirts</td>
        <td>A lot of trousers</td>
        <td>A lot of underwear</td>
        <td>A lot of hoodies & sweatshots</td>
    </tr>
</table>
{% endblock %}